@charset "utf-8";
/* CSS Document */

body{
	font-family: 'Open Sans', sans-serif;
}

.titulo {
    font-family: 'Roboto Condensed';
    font-style: italic;
}

.textos {
	font-family: 'Open Sans', sans-serif; 
	font-style: normal;
}

.textos_italica {
	font-family: 'Open Sans', sans-serif; 
	font-style: italic;
	font: lighter;
}


.fondoAzul {
	background-color: aqua;
}

.fondoGris {
	background-color:#E3DFDC;
}

footer {
	padding-top: 10px;
	background: #6C757D;
}

footer p {
	margin-top: 5px;
	color: white;
	font-family: 'Roboto Condensed'; 
	font-style: italic;
}